.sc__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sc__container {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
}

.sc__container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.scratch-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scratch-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  margin: 0;
}
